.HomeSection {
  display: grid;
  padding: 230px 20px 20px 100px;
  grid-template-columns: 1fr 1fr;
  height: 500px;
}

.home-section-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 100px 20px 150px;
}

.home-section-text-heading {
  margin: 0;
  padding: 5px 0;
  font-size: 40px;
}

.home-section-text-heading-h3 {
  margin: 0;
  font-size: 28px;
}

.home-section-text-paragraph {
  font-size: 20px;
}

.home-section-text-links {
  display: flex;
  padding: 20px 70px 0 0;
  justify-content: center;
  gap: 40px;
}

.home-section-text-links button {
  width: 50px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ddbea9;
}

.home-section-image-container {
  display: grid;
  place-items: center;
  padding: 20px 20px 80px 0px;
}

.home-section-image-div {
  display: flex;
  align-items: center;
  position: relative;
  width: 230px;
  height: 230px;
  overflow: hidden;
  border: 2px solid #ddbea9;
  border-radius: 50%;
}

.home-section-image-div img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1600px) {
  .HomeSection {
    padding: 150px 0px 140px 100px;
  }
}

@media only screen and (max-width: 440px) {
  .HomeSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 300px 0px 140px 0px;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 440px;
  }

  .home-section-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 20px 20px;
  }
  .home-section-text-links {
    display: flex;

    padding: 10px 70px 0 20px;
    justify-content: center;
    gap: 40px;
  }
}

@media only screen and (max-width: 420px) {
  .HomeSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 300px 0px 140px 0px;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 400px;
  }

  .home-section-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 20px 20px;
    width: 400px;
  }
  .home-section-text-links {
    display: flex;
    padding: 10px 30px 0 20px;
    justify-content: center;
    gap: 40px;
  }
  .home-section-text-paragraph {
    text-align: start;
    font-size: 16px;
  }

  .home-section-text-heading {
    margin: 0;
    padding: 5px 0;
    font-size: 36px;
  }

  .home-section-text-heading-h3 {
    margin: 0;
    font-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .HomeSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 300px 0px 140px 0px;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 380px;
  }

  .home-section-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 20px 20px;
    width: 380px;
  }
  .home-section-text-links {
    display: flex;
    padding: 10px 30px 0 20px;
    justify-content: center;
    gap: 40px;
  }
  .home-section-text-paragraph {
    text-align: start;
    font-size: 14px;
  }

  .home-section-text-heading {
    margin: 0;
    padding: 5px 0;
    font-size: 32px;
  }

  .home-section-text-heading-h3 {
    margin: 0;
    font-size: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .HomeSection {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 300px 0px 140px 0px;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 380px;
  }

  .home-section-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 0px 20px 10px;
    width: 380px;
  }
  .home-section-text-links {
    display: flex;
    padding: 10px 30px 0 20px;
    justify-content: center;
    gap: 40px;
  }
  .home-section-text-paragraph {
    text-align: start;
    font-size: 16px;
  }

  .home-section-text-heading {
    margin: 0;
    padding: 5px 0;
    font-size: 36px;
  }

  .home-section-text-heading-h3 {
    margin: 0;
    font-size: 24px;
  }
}
