main {
  display: grid;
  place-items: center;
}

.skills-container {
  background: #2c3e50;
  color: var(--font-color);
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  text-align: center;
  margin: 50px;
}

.skills-heading {
  font-size: 32px;
  margin-bottom: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid var(--header-footer-color);
  padding-bottom: 10px;
  color: var(--font-color);
}

.skills-group {
  margin: 25px 0;
}

.skills-group h3 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: left;
  border-left: 4px solid var(--header-footer-color);
  padding-left: 10px;
  color: var(--font-color);
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: left;
}

.skill-item {
  background: var(--header-footer-color);
  padding: 10px 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: bold;
  transition: background 0.3s;
  cursor: pointer;
}

.skill-item:hover {
  background: var(--light-blue-color);
}

.skill-icon {
  font-size: 20px;
  display: grid;
  place-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .skills-container {
    max-width: 90%;
    padding: 20px;
  }
  .skills-list {
    justify-content: center;
  }
}
