.Navbar {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 0;
  list-style: none;
}

.navbar-list li {
  color: black;
  font-size: 18px;
}

.navbar-list li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

.navbar-list li a:hover {
  color: #cb997e;
}
