#Contact {
  padding: 25px 20px 150px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Contact h1 {
  font-size: 40px;
}

.contact-form-container {
  padding: 50px 0;
}

.contact-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form input {
  width: 300px;
  height: 35px;
  padding: 5px;
  border: 1px solid #cb997e;
  border-radius: 10px;
}

.form textarea {
  width: 300px;
  height: 150px;
  padding: 5px;
  border: 1px solid #cb997e;
  border-radius: 10px;
}

.submit-form-button-div {
  display: flex;
  width: 308px;
  justify-content: start;
}

.form button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #cb997e;
  cursor: pointer;
}

.form button:hover {
  transition: 1s ease-out;
  transform: translate(0.1rem, -0.1rem);
  background-color: #cb997e;
}

@media only screen and (max-width: 1600px) {
  #Contact {
    padding: 75px 0px 100px 0px;
  }
}

@media only screen and (max-width: 440px) {
  #Contact {
    padding: 25px 0px 150px 0px;
  }
}

@media only screen and (max-width: 420px) {
  #Contact {
    padding: 25px 0px 150px 0px;
  }
}
