.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--header-footer-color); */
  background-color: var(--background-color);
  padding: 20px;
  border: none;
}

.Navbar a.active {
  color: var(--light-blue-color);
  padding-bottom: 10px;
  border-bottom: 2px solid var(--light-blue-color);
}

.hamburger-menu {
  display: none;
}

.logo-div {
  display: none;
}

.logo-div a {
  text-decoration: none;
}

.logo-div h2 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  color: var(--font-color);
  cursor: pointer;
}

.logo-div h2:hover {
  color: var(--light-blue-color);
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 0;
  list-style: none;
}

.navbar-list li {
  color: var(--font-color);
  font-size: 18px;
}

.navbar-list li a {
  text-decoration: none;
  color: var(--font-color);
  transition: 0.2s ease-in;
}

.navbar-list li a:hover {
  color: var(--light-blue-color);
}

@media only screen and (max-width: 440px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
  }

  .logo-div {
    display: block;
  }

  .logo-div h2 {
    font-size: 16px;
  }

  .navbar-list {
    display: none;
  }

  .hamburger-menu {
    width: 100%;
    display: block;
    text-align: right;
    color: var(--font-color);
  }

  button.menu-button {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 18px;
    background-color: var(--header-footer-color);
    color: var(--font-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .navigation ul {
    display: block;
    list-style: none;
    background-color: var(--light-blue-color);
    height: max-content;
    width: 100px;
    margin-top: 25px;
    position: absolute;
    right: 0;
    top: 30px;
    padding: 5px 15px 5px 5px;
  }

  .navigation ul li {
    color: var(--font-color);
    font-size: 14px;
    padding-bottom: 10px;
  }

  .navigation li a {
    text-decoration: none;
    color: var(--font-color);
  }
}

@media only screen and (max-width: 420px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
  }

  .logo-div {
    display: block;
  }

  .logo-div h2 {
    font-size: 16px;
  }

  .navbar-list {
    display: none;
  }

  .hamburger-menu {
    width: 100%;
    display: block;
    text-align: right;
    color: var(--font-color);
  }

  button.menu-button {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 18px;
    background-color: var(--header-footer-color);
    color: var(--font-color);
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .navigation ul {
    display: block;
    list-style: none;
    background-color: var(--light-blue-color);
    height: max-content;
    width: 100px;
    margin-top: 22px;
    position: absolute;
    right: 0;
    padding: 5px 15px 5px 5px;
  }

  .navigation ul li {
    color: var(--font-color);
    font-size: 14px;
    padding-bottom: 10px;
  }

  .navigation li a {
    text-decoration: none;
    color: var(--font-color);
  }
}

@media only screen and (max-width: 380px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    align-items: center;
  }

  .logo-div {
    display: block;
  }
  .logo-div h2 {
    font-size: 16px;
  }

  .navbar-list {
    display: none;
  }

  .hamburger-menu {
    width: 100%;
    display: block;
    text-align: right;
    color: var(--font-color);
  }

  .navigation ul {
    display: block;
    list-style: none;
    background-color: var(--light-blue-color);
    height: max-content;
    width: 100px;
    margin-top: 20px;
    position: absolute;
    right: 0;
    padding: 5px 15px 5px 5px;
  }

  .navigation ul li {
    color: var(--font-color);
    font-size: 14px;
    padding-bottom: 10px;
  }

  .navigation li a {
    text-decoration: none;
    color: var(--font-color);
  }
}
