.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #cb997e;
  border-radius: 20px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding-left: 0;
  list-style: none;
}

.navbar-list li {
  color: black;
  font-size: 18px;
}

.navbar-list li a {
  text-decoration: none;
  color: black;
  transition: 0.2s ease-in;
}

.navbar-list li a:hover {
  color: whitesmoke;
}

@media only screen and (max-width: 440px) {
  .Navbar {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
  }
}

@media only screen and (max-width: 420px) {
  .Navbar {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .Navbar {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
}
