.Footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  padding: 20px 0;
  background-color: var(--header-footer-color);
  color: var(--font-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

/* @media only screen and (max-width: 440px) {
  .Footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
  }
} */
