#AboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

#AboutMe h1 {
  font-size: 40px;
  color: var(--font-color);
}

.about-me-container {
  background-color: var(--light-blue-color);
  width: 900px;
  padding: 50px;
  color: var(--font-color);
}

.about-me-container h2 {
  margin: 0;
  font-size: 24px;
  color: var(--font-color);
}

.about-me-text-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-me-text-div {
  width: 100%;
}

.about-me-text-div p {
  font-size: 18px;
  color: var(--font-color);
}

.about-me-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about-me-info-container h3 {
  font-size: 24px;
}

.about-me-info-container li {
  font-size: 18px;
}

/* @media only screen and (max-width: 1600px) {
  #AboutMe {
    padding: 90px 0px;
  }

  .about-me-text-div {
    padding: 30px;
  }
}

@media only screen and (max-width: 440px) {
  #AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
  }

  .about-me-text-div {
    padding: 10px 30px;
    width: 300px;
  }

  #AboutMe h1 {
    font-size: 40px;
    margin-top: 0;
  }

  .about-me-text-div p {
    margin: 0;
    font-size: 18px;
  }
}

@media only screen and (max-width: 420px) {
  #AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
  }

  .about-me-text-div {
    padding: 10px 30px;
    width: 300px;
  }

  #AboutMe h1 {
    font-size: 40px;
    margin-top: 0;
  }

  .about-me-text-div p {
    margin: 0;
    font-size: 16px;
  }
}

@media only screen and (max-width: 380px) {
  #AboutMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 120px 0px;
  }

  .about-me-text-div {
    padding: 10px 30px;
    width: 300px;
  }

  #AboutMe h1 {
    font-size: 40px;
    margin-top: 0;
  }

  .about-me-text-div p {
    margin: 0;
    font-size: 14px;
  }
} */
